body {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat (14, 1fr);
    grid-template-rows: repeat (12, 1fr);
}

header {
    grid-area: 1/1/2/5;
}

nav {
    grid-area: 1/9/2/15;
}

#about-me {
    grid-area: 3/1/8/8;
}

.image-container {
    grid-area: 3/9/8/15;
}

.projects {
    grid-area: 9/1/12/8;
}

.contact {
    grid-area: 9/9/12/15;
}

